.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #F5F7F2;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.navbar-logo img {
    height: 80px;
    width: 140px;
    order: 1;
    margin-left: 20px;
}

.navbar-items {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    order: 2;
}

.navbar-items a {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.navbar-items a:hover {
    background-color: #ddd;
}

.burger-button {
    display: none;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    order: 3;
}

.social-icons {
    order: 4;
    display: flex;
    gap: 10px;
}

.social-icons img {
    height: 100px; 
}

.social-icons a {
    font-size: 40px;
    margin-right: 20px;
}

.social-icons a[href*="facebook"] svg {
    color: #1877F2; /* צבע פייסבוק */
}

.social-icons a[href*="instagram"] svg {
    color: #C13584; /* צבע אינסטגרם */
}

@media (max-width: 768px) {
    .navbar-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        width: 200px;
    }

    .navbar-items.open {
        display: flex;
    }

    .burger-button {
        display: block;
        z-index: 1;
        position: relative;
        margin-right: 10px;
        color:#D9A463;
    }

    .social-icons{
        display: none;
    }
}

.lead-button {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: #D9A463;
    color: white;
    border: none;
    margin-right: 950px;
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.lead-button:hover {
    background-color: #4e3003d7;
}

@media (min-width: 769px) and (max-width: 1800px) {

    .navbar-items {
        display: flex;
        gap: 10px;
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        order: 4;
        margin-left:-235px
    }


    .social-icons {
        justify-content: flex-end;
    }
    .navbar-logo img {
        height: 60px;
        width: 105px;
        order: 1;
        margin-left: 15px;
    }

 

    .social-icons img {
        height: 80px; 
    }

    .social-icons a {
        font-size: 30px;
    }
}
